# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Anjuta template
# Local configuration folder and symbol database
/.anjuta/
/.anjuta_sym_db.db

